@import "tailwindcss";

@theme {
  --color-main: #84A98C;
  --color-secondary: #7E6551;
  --color-content: #291528;
  
  /* Ajoute ta nouvelle couleur de fond ici */
  --color-background: #FAF8F5; 

  --font-sans: var(--font-inter), sans-serif;
  --font-title: var(--font-playfair), serif;
}

body {
  /* On applique la couleur au fond du site */
  background-color: var(--color-background); 
  color: var(--color-content);
  font-family: var(--font-sans);
}